.header {
    background-color: #00597A;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

body {
    background-color:aliceblue;
}

.logo {
    font-size: 40px;
    font-family: 'Georgia', serif;
    font-weight: bold;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logout-btn {
    padding: 5px 15px;
    background-color: #C9D2DE;
    border: 2px solid #000;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #000;
    object-fit: cover;
}


.board-container {
    margin: 40px auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    border: 3px solid #000;
    background-color: #366999;
    padding: 20px;
}

.board-column {
    background-color: rgba(255, 255, 255, 0.2);
    width: 32%;
    border: 3px solid #000;
}

.column-header {
    background-color: #7FA2C6;
    padding: 15px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 3px solid #000;
}

.column-content {
    padding: 20px;
    height: 600px; /* placeholder */
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #000;
    overflow: hidden;
    background-color: #C9D2DE;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
